/*---------
 For All style
---------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*--------
        Header Style 
 -------------------*/

 header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 130px;
 }
 .top-banner{
    width: 870px;
    display: flex;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    padding: 50px;
 }
 .banner-details h1{
    color: #ffff;
    font-size: 70px;
 }
 .banner-details p{
    color: #ffff;
    font-size: 16px;
    margin-bottom: 20px;
 }
 .banner-details a{
    background-color: #DD0000;
    color: #ffff;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
 }
 /*------------------- 
         Main Section style 
 -------------------*/
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
 }
 .container{
    display: flex;
    column-gap: 20px;
 }
 /*-----------
         Left Side style
 -------------------- */
 .container-left{
    width: 50%;
 }
 .left-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
 }
 .left-contain a{
    text-decoration: none;
    background-color: white;
    color: #161616;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 252px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
 }
 #contain-item{
    background-color: #DD0000;
    color: #ffff;
 }
 /*------------
         Right Side style
 -------------------- */
 .container-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
 }
 .right-contain{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    width: 312px;
    height: 362px;
 }
 .right-img{
   margin-left: 50px;
   align-items: center;
   display: flex;
    width: 93px;
    height: 56px;
    margin-bottom: 15px;
 }
 .right-contain h1{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
 }
 .icons{
    display: flex;
    column-gap: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
 }
 .icons p{
    font-size: 16px;
    color: #161616B2;
 }

 /*-------------
       View Button style
 ------------------- */
 .view-button{
   margin-bottom: 30px;
   text-align: center;
 }
.view-button a{
   border-radius: 5px;
   text-decoration: none;
   color: #ffff;
   font-size: 20px;
   padding: 12px 29px;
   background-color: #DD0000;
}

 /*-----------
         Footer style 
 ------------*/
 footer{
    background-color: #161616;
    padding: 50px;
 }
 footer h1{
    font-size: 60px;
    color: #ffff;
    text-align: center;
    margin-bottom: 20px;
 }
 .footer-info{
    display: flex;
    justify-content: center;
    margin-top: 20px;

 }
 .footer-info h1{
    font-size: 16px;
    margin-left: 20px;
 }
 .footer-icons{
    text-align: center;
    margin: 30px 0;
 }
 .footer-icons a{
    text-decoration: none;
 }
 .footer-icons i{
    margin-left: 10px;
    font-size: 28px;
    color: #ffff;
    background-color: rgb(155, 153, 153);
    border-radius: 50%;
    padding: 10px;
 }
 /*-------------------
       Media Queries style 
 -------------------------*/
 
 /*---------------------
       For Mobile Devices
 --------------------- */
@media only screen and (max-width: 688px) 
{
   /* Header Section Start */
   header{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
   }
   .top-banner{
      width: 70%;
      height: 472px;
      padding-top: 0;
      display: flex;
      flex-direction: column;
   }
   .banner-details{
      margin-top: 30px;
      width: 100%;
   }
   .banner-details h1{
      font-size: 20px;
      white-space: nowrap;
      text-align: center;
   }
   .banner-details p{
      margin-top: 20px;
      margin-left: 25%;
      width: 50%;
      font-size: 2vw;
      overflow: hidden;
      overflow-y: scroll;
   }
   .banner-details a{
      margin-left: 35%;
   }
   .banner-logo{
      margin-top: 20px;
      margin-left: 35px;
   }
   .banner-logo img{
      height: 280px;
   }

   /* Header Section End */

      /* Main Section Start */
   main{
      display: flex;
      flex-direction: column;
      margin-bottom: 130px;
   }
   .container{
      display: flex;
      flex-direction: column;
   }
   .container-left{
      width: 100%;
   }
   .left-contain{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffff;
      width: 312px;
      height: 312px;
   }
   .left-contain a{
      border: 1px solid #999797;
   }
   .container-right{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
      width: 100%;
   }

   /* Main Section End */

   .view-button{
      display: none;
   }

   /* Footerr Section Start */
   footer{
      display: flex;
      flex-direction: column;
   }
}
.footer-info{
   display: flex;
   flex-direction: column;
}
/* Footer Section End */


/*---------------
      For Tablet Devices
------------------- */
@media only screen and (min-width: 689px) and (max-width: 992px)
 {
   header{
      margin-bottom: 0px;
   }
   .top-banner{
      width: 80%;
   }
   .container{
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   .container-left{
      width: 100%;
   }
   .left-contain{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      justify-content: center;
      background-color: #ffff;
   }
   .left-contain a{
      text-decoration: none;
      background-color: white;
      color: #161616;
      margin-bottom: 20px;
      border-radius: 20px;
      text-align: center;
      font-size: 20px;
      padding: 5px;
      border: 1px solid #999797;
   }
   .container-right{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      width: 100%;
   }
   
   .footer-info{
      display: flex;
      flex-direction: row;
   }
}

 /*-----------
          For Desktop
   ---------------- */
 @media only screen and (min-width: 993px) and (max-width: 1424px) {
      .view-button{
         display: none;
      }
   }
